* {
  padding: 0;
  margin: 0;
}

.App {
  .navbar {
    display: flex;
    align-items: center;
    padding: 13.5px 106.5px;
    .navigation-links {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      ul {
        list-style-type: none;
      }
      li {
        display: flex;
        align-items: center;
        gap: 18px;
        font-weight: 500;
        line-height: 19px;
        font-family: "Raleway", sans-serif;
      }
      .navigation-links-left {
        display: flex;
        align-items: center;
        padding: 0px 64px;
        gap: 80px;
      }
      .navigation-links-right {
        display: flex;
        align-items: center;
        padding: 0px 40px;
        gap: 80px;
        .join-button {
          padding: 0.5em 2em;
          box-shadow: none;
          border: none;
          border-radius: 35px;
          background: rgb(0, 150, 255);
          background: linear-gradient(
            90deg,
            rgba(0, 150, 255, 1) 0%,
            rgba(0, 72, 255, 1) 100%
          );
          color: #fff;
          line-height: 19px;
          font-family: "Raleway", sans-serif;
        }
      }
    }
    .hamburger {
      display: none;
      cursor: pointer;
      .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all ease ease-in-out;
        transition: all ease ease-in-out;
        background-color: #3c4852;
      }
    }
  }

  .marketing-content-container {
    background-image: url(./assets/Background.jpg);
    background-size: cover;
    display: flex;
    min-height: 95vh;
    .marketing-content {
      padding: 70px 144px;
      color: #fff;
      font-family: "Raleway", sans-serif;
      .marketing-content-heading h1 {
        padding-bottom: 25px;
        padding-right: 55px;
        font-size: 56px;
        font-weight: 600;
        letter-spacing: -0.01em;
        .strikedText {
          color: red;
          text-decoration: line-through;
          .slashedPrice {
            color: #fff;
            font-family: "Roboto";
            font-weight: 600;
            font-size: 64px;
            line-height: 125%;
            letter-spacing: -0.01em;
          }
        }
        .currentPrice {
          font-family: "Roboto";
          font-weight: 600;
          font-size: 64px;
          line-height: 125%;
          letter-spacing: -0.01em;
          color: #0096ff;
        }
      }
      .plan-benefits-wrapper {
        ul {
          list-style: none;
          li {
            display: flex;
            align-items: center;
            gap: 68px;
            padding: 25px 0;
            .plan-benefits-pointers {
              font-family: "Roboto";
              font-weight: 600;
              font-size: 32px;
              line-height: 100%;
              letter-spacing: 0.03em;
              span {
                color: #0096ff;
              }
            }
          }
        }
      }
    }
    .form-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      border-radius: 8px;
      margin: 70px 102px;
      font-family: "Roboto", sans-serif;
      .form-wrapper {
        padding: 32px 24px;
        .form-top-actions {
          display: flex;
          gap: 158px;
          padding: 0px 111.5px;
          .sign-up,
          .subscribe {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            line-height: 19px;
            width: 60px;
            color: #3c4852;
          }
          .one,
          .two {
            width: 38px;
            height: 38px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #0096ff;
            border-radius: 50%;
            font-weight: 600;
            font-size: 24px;
            line-height: 18px;
            text-align: center;
            color: #fff;
          }
        }
        .subscription-plans-form {
          width: 100%;
          .form-header {
            font-size: 24px;
            font-weight: 600;
            color: #3c4852;
            line-height: 125.3%;
            margin: 20px 0px 20px 0px;
            text-align: center;
          }
          .subscription-plans-wrapper {
            padding: 8px 0px;
            .subscription-plans {
              position: relative;
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 14px 18px;
              border-radius: 4px;
              background: #fff;
              border: 2px solid #dfdfdf;
              cursor: pointer;
              .recommended-plan,
              .expired-plan {
                position: absolute;
                top: 0;
                left: 62px;
                border-radius: 0px 0px 4px 4px;
                font-weight: 500;
                font-size: 12px;
                color: #fff;
                padding: 1px 25px;
                text-align: center;
                line-height: 120%;
              }
              .recommended-plan {
                background: #47ba68;
              }
              .expired-plan {
                background: #f77171;
              }
              .subscription-duration {
                display: flex;
                align-items: center;
                gap: 14px;
                label {
                  font-weight: 600;
                  line-height: 120%;
                  color: #3c4852;
                  cursor: pointer;
                }
                img {
                  width: 27px;
                  height: 27px;
                }
              }
              .payment-details {
                .total {
                  font-size: 12px;
                  color: #3c4852;
                }
                .total-price {
                  font-weight: 600;

                  line-height: 120%;
                  margin-left: 8px;
                }
                .price-per-month {
                  font-size: 12px;
                  color: #3c4852;
                  margin-left: 20px;
                  line-height: 120%;
                }
                .per-month {
                  font-weight: 500;
                  font-size: 10px;
                  line-height: 120%;
                  color: #bebebe;
                  margin-left: 8px;
                }
              }
            }
          }
          .subscription-plans.active {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 14px 18px;
            border-radius: 4px;
            background: #d7eddd;
            border: 2px solid #47ba68;
            cursor: pointer;
          }
          .subscription-plans.deactive {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 14px 18px;
            border-radius: 4px;
            background: #e7e7e7;
            border: 2px solid #bebebe;
            color: #bebebe;
            cursor: none;
            img {
              width: 27px;
              height: 27px;
            }
          }
          .expired-offer {
            background: #e7e7e7;
          }
          .order-summary {
            margin: 20px 0px;
            border-top: 2px solid #bebebe;
            .subscription-fee-wrapper {
              padding: 18.5px 24px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .subscription-fee-p {
                line-height: 120%;
                color: #3c4852;
              }
              .subscription-fee {
                font-weight: 500;
                line-height: 100%;
                color: #3c4852;
                letter-spacing: 0.03em;
              }
            }
            .limited-time-wrapper {
              padding: 12px 24px;
              box-sizing: border-box;
              border: 2px solid #de4313;              
              background: linear-gradient(
                135deg,
                rgba(222, 67, 19, 0.2) 0%,
                rgba(222, 67, 19, 0.2) 0.75%,
                rgba(222, 67, 19, 0.2) 2.92%,
                rgba(222, 68, 20, 0.2) 6.37%,
                rgba(223, 69, 21, 0.2) 10.97%,
                rgba(223, 72, 22, 0.2) 16.59%,
                rgba(224, 75, 24, 0.2) 23.1%,
                rgba(225, 80, 27, 0.2) 30.37%,
                rgba(227, 86, 31, 0.2) 38.27%,
                rgba(229, 94, 36, 0.2) 46.66%,
                rgba(231, 104, 43, 0.2) 55.41%,
                rgba(235, 117, 51, 0.2) 64.39%,
                rgba(238, 132, 60, 0.2) 73.47%,
                rgba(243, 149, 71, 0.2) 82.52%,
                rgba(248, 169, 84, 0.2) 91.41%,
                rgba(254, 193, 99, 0.2) 100%
              );

              border-radius: 8px;
              .limited-time-header {
                display: flex;
                justify-content: space-between;
                .limited-time-text {
                  font-weight: 600;

                  line-height: 120%;
                  color: #de4313;
                }
                .limited-time-price {
                  font-weight: 600;

                  line-height: 100%;
                  color: #3c4852;
                  letter-spacing: 0.03em;
                }
              }
              .offer-validy-wrapper {
                display: flex;
                align-items: center;
                gap: 10px;
                padding-top: 6px;
                .offer-validy-p {
                  font-size: 14px;
                  line-height: 120%;
                  color: #de4313;
                }
              }
            }
            .order-total-wrapper {
              padding: 12px 24px;
              display: flex;
              justify-content: space-between;
              align-items: center;
              .order-total-text {
                line-height: 120%;
                color: #3c4852;
              }
              .order-total-price {
                font-weight: 700;
                font-size: 24px;
                line-height: 100%;
                letter-spacing: 0.03em;
                color: #3c4852;
              }
            }
          }
        }
        .payment-action-buttons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 14px;
          border-radius: 4px;
          .cancel-button {
            width: 100%;
            padding: 18.5px 0px;
            background: #fff;
            border: 0.5px solid #f77171;
            border-radius: 4px;
            color: #f77171;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            cursor: pointer;
          }
          .proceed-button {
            width: 100%;
            padding: 18.5px 0px;
            background: #47ba68;
            border: none;
            border-radius: 4px;
            color: #ffffff;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            cursor: pointer;
          }
        }
        .razorpay-img {
          padding-top: 24px;
          align-self: flex-start;
        }
      }
    }
  }
}
@media screen and (max-width: 1840px) {
  .App {
    .marketing-content-container {
      height: auto;
      .marketing-content {
        padding-right: 100px;
        .marketing-content-heading h1 {
          padding-bottom: 30px;
          padding-right: 0px;
          font-size: 56px;
          .slashedPrice {
            font-size: 64px;
          }
          .currentPrice {
            font-size: 64px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .App {
    .navbar {
      padding: 13.5px 60px;
      .navigation-links {
        ul {
          list-style-type: none;
        }
        li {
          gap: 2px;
        }
        .navigation-links-left {
          padding: 10px 24px;
          gap: 40px;
        }
        .navigation-links-right {
          padding: 0px 24px;
          gap: 40px;
        }
      }
    }
    .marketing-content-container {
      flex-direction: column;
      height: auto;
      .marketing-content {
        padding: 70px;
        .marketing-content-heading h1 {
          padding-bottom: 30px;
          font-size: 54px;
          .slashedPrice {
            font-size: 58px;
          }
          .currentPrice {
            font-size: 58px;
          }
        }
        .plan-benefits-wrapper {
          ul {
            img {
              width: 40px;
            }
            li {
              gap: 20px;
              padding: 20px 30px;
              .plan-benefits-pointers {
                font-size: 34px;
                span {
                  color: #0096ff;
                }
              }
            }
          }
        }
      }
      .form-container {
        margin: 0;
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .App {
    .navbar {
      justify-content: space-between;
      padding: 4% 6%;
      .edyoda-logo {
        width: 140px;
      }
      .navigation-links {
        width: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        margin: 0px;
        opacity: 0;
        top: 92px;
        right: 0;
        background-color: #2b6a97;
        text-align: center;
        gap: 0px;
        color: #fff;
        li {
          padding: 10px 0px;
          font-size: 16px;
        }
        .navigation-links-left {
          width: 100%;
          flex-direction: column;
          align-items: center;
          padding: 0;
          gap: 0;
          li {
            padding: 15px 0px;
            align-self: center;
            justify-content: center;
            width: 100%;
            border-bottom: #f3f7f9 solid 1px;
          }
        }
        .navigation-links-right {
          width: 100%;
          flex-direction: column;
          align-items: center;
          padding: 0px;
          gap: 0px;
          li {
            padding: 15px 0px;
            align-self: center;
            justify-content: center;
            width: 100%;
            border-bottom: #f3f7f9 solid 1px;
          }
        }
      }
      .navigation-links.active {
        opacity: 1;
      }
      .hamburger {
        display: block;
        padding: 12px;
      }
      .hamburger.active .bar:nth-child(2) {
        opacity: 0;
      }
      .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
      }
      .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
      }
      .join-button {
        padding: 0.5em 2em;
        box-shadow: none;
        border: none;
        border-radius: 35px;
        background: rgb(0, 150, 255);
        background: linear-gradient(
          90deg,
          rgba(0, 150, 255, 1) 0%,
          rgba(0, 72, 255, 1) 100%
        );
        color: #fff;
        line-height: 19px;
        font-family: "Inter", sans-serif;
        font-family: "Poppins", sans-serif;
        font-family: "Raleway", sans-serif;
      }
    }
    .marketing-content-container {
      flex-direction: column;
      height: auto;
      .marketing-content {
        padding: 30px;
        .marketing-content-heading h1 {
          padding-bottom: 30px;
          font-size: 50px;
          .slashedPrice {
            font-size: 54px;
          }
          .currentPrice {
            font-size: 54px;
          }
        }
        .plan-benefits-wrapper {
          ul {
            img {
              width: 40px;
            }
            li {
              gap: 20px;
              padding: 20px 30px;
              .plan-benefits-pointers {
                font-size: 34px;
                span {
                  color: #0096ff;
                }
              }
            }
          }
        }
      }
      .form-container {
        margin: 0;
        width: 100%;
      }
    }
  }
}
